@import 'tailwindcss';

@theme {
	--color-primary: #FF4136;
	--color-secondary: #263743;
	--color-accent: #456478;
	--color-background: #eafbff;
	--color-surface: #88a0b0;

	--font-sans: 'Inter', sans-serif;
}

@layer base {
	body {
		@apply bg-background text-secondary;
	}
}